/* You can add global styles to this file, and also import other style files */
form{
  width: 400px;
  height: auto;
  margin:  10px auto;
  padding: 15px 15px 15px 15px;
}
input[type='text'], input[type='password']{
  padding:10px 10px 10px 10px;
  margin-bottom: 15px;
}
